@page "/group"
@page "/group/{GroupID:int}"
@inject IHttpService _http
@inject ITokenService _token
@inject NavigationManager _nav

<PageTitle>Group @GroupName</PageTitle>

<div class="content-div">
	<h1>Group @GroupName</h1>
	<br/>
	@if (Group == null) {
		<h3>Group not found</h3>
	} else {
		<div>
			<input type="text" @bind-value="Group.Name" class="form-control form-input-float"/>
			<br />
			<button class="btn btn-primary" @onclick="@(() => UpdateName())">Update</button>
		</div>
		<br />
		<h5 style="font-weight: bold">Participants</h5>
		<div class="col-8">
			@foreach (User user in Group.Participants)
			{
				<p>
					@user.Name
					<button @onclick="@(() => RemoveParticipant(user))" class="btn btn-danger" style="float: right">Remove</button>
				</p>
			}
		</div>
		<br />
	}
</div>


